@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
    @apply border border-gray-200 rounded-md px-3 py-2 w-full;
    @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
    @apply border-blue-900
}

label {
    @apply text-blue-900
}

.btn-primary {
    @apply bg-blue-900 text-white px-5 py-1 rounded-md
}

.btn-default {
    @apply bg-green-500 text-white px-5 py-1 rounded-md font-semibold
}

.btn-red {
    @apply bg-red-800 text-white px-5 py-1 rounded-md
}

.btn-non {
    @apply bg-white text-black px-5 py-1 rounded-md font-semibold
}

table.basic {
    @apply w-full text-sm text-left text-gray-500
}

table.basic thead tr th {
    @apply bg-blue-100 uppercase text-sm
}

table.basic tbody tr th,
td {
    @apply border-b border-blue-200 py-1
}

table.basic a {
    @apply bg-white text-black text-sm py-1 px-3 rounded-md inline-flex items-center gap-1 mr-2 my-2
}

table.basic a:hover {
    @apply border
}